@charset "utf-8";
body{
	overflow-x: hidden;
}
/*公共类*/

.trans3 {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.trans5 {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/*外景*/

.localPhoto ul li:hover {
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.localPhoto ul li:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.localPhoto ul li:hover .pt10.fs16 {
	color: #E83B63;
}


/*水下摄影*/

.case_list li:hover .case_list_shadow {
	opacity: 1;
}

.case_list_img img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.case_list li:hover .case_list_img img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.case_list li:hover span {
	background-color: #0090be;
}


/*内景影棚*/

.bride_set li:hover span {
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.bride_set li:hover img {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}


/*联系我们*/

.contact-Box a:hover span {
	background-position-y: -128px;
}


/*banner*/

.banner {
	animation: zoom 10s ease-in-out infinite;
}

@keyframes zoom {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes zoom {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.15);
		-moz-transform: scale(1.15);
		-ms-transform: scale(1.15);
		-o-transform: scale(1.15);
		transform: scale(1.15);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}


.photo_box {
	width: 100%;
	-webkit-perspective: 10000;
	-moz-perspective: 10000;
	-ms-perspective: 10000;
	perspective: 10000;
}

.photo_box .rotate_box {
	width: 319px;
	height: 645px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	animation: turnRound 10s ease-in-out infinite;
	/*transform-origin: 50% 50%;*/
}

.photo_box .img {
	position: absolute;
	opacity: 0.8;
}

.photo_box .img1 {
	-webkit-transform: rotateY(0deg) translateZ(268.47px);
	-moz-transform: rotateY(0deg) translateZ(268.47px);
	-ms-transform: rotateY(0deg) translateZ(268.47px);
	-o-transform: rotateY(0deg) translateZ(268.47px);
	transform: rotateY(0deg) translateZ(268.47px);
}

.photo_box .img2 {
	-webkit-transform: rotateY(60deg) translateZ(268.47px);
	-moz-transform: rotateY(60deg) translateZ(268.47px);
	-ms-transform: rotateY(60deg) translateZ(268.47px);
	-o-transform: rotateY(60deg) translateZ(268.47px);
	transform: rotateY(60deg) translateZ(268.47px);
}

.photo_box .img3 {
	-webkit-transform: rotateY(120deg) translateZ(268.47px);
	-moz-transform: rotateY(120deg) translateZ(268.47px);
	-ms-transform: rotateY(120deg) translateZ(268.47px);
	-o-transform: rotateY(120deg) translateZ(268.47px);
	transform: rotateY(120deg) translateZ(268.47px);
}

.photo_box .img4 {
	-webkit-transform: rotateY(180deg) translateZ(268.47px);
	-moz-transform: rotateY(180deg) translateZ(268.47px);
	-ms-transform: rotateY(180deg) translateZ(268.47px);
	-o-transform: rotateY(180deg) translateZ(268.47px);
	transform: rotateY(180deg) translateZ(268.47px);
}

.photo_box .img5 {
	-webkit-transform: rotateY(240deg) translateZ(268.47px);
	-moz-transform: rotateY(240deg) translateZ(268.47px);
	-ms-transform: rotateY(240deg) translateZ(268.47px);
	-o-transform: rotateY(240deg) translateZ(268.47px);
	transform: rotateY(240deg) translateZ(268.47px);
}

.photo_box .img6 {
	-webkit-transform: rotateY(300deg) translateZ(268.47px);
	-moz-transform: rotateY(300deg) translateZ(268.47px);
	-ms-transform: rotateY(300deg) translateZ(268.47px);
	-o-transform: rotateY(300deg) translateZ(268.47px);
	transform: rotateY(300deg) translateZ(268.47px);
}

@keyframes turnRound {
	0% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}