@charset "utf-8";

body {
	/*定义子元素有3D变换*/
	transform-style: preserve-3d;
	background-color: #EEE;
}


/*公共类*/

.trans3 {
	transition: all 0.3s ease;
}

.trans5 {
	transition: all 0.5s ease;
}

.photo_box {
	/*定义视角位置*/
	perspective: 10000px;
	animation: perserve-in 5s ease-in-out;
}

.rotate_box {
	/*相对定位-参照物*/
	position: relative;
	/*定义子元素有3D变换*/
	transform-style: preserve-3d;
	/*水平居中显示*/
	width: 310px;
	height: 485px;
	margin: 100px auto;
	/*自定义动画*/
	animation: turnRound 10s linear 5s infinite;
}

.rotate_box .img {
	/*绝对定位*/
	position: absolute;
	/*透明度*/
	opacity: 0.9;
}

.rotate_box .img img {
	max-width: 100%;
}

.photo_box .img:nth-child(1) {
	transform: rotateY(0deg) translateZ(320px);
}

.photo_box .img:nth-child(2) {
	transform: rotateY(60deg) translateZ(320px);
}

.photo_box .img:nth-child(3) {
	transform: rotateY(120deg) translateZ(320px);
}

.photo_box .img:nth-child(4) {
	transform: rotateY(180deg) translateZ(320px);
}

.photo_box .img:nth-child(5) {
	transform: rotateY(240deg) translateZ(320px);
}

.photo_box .img:nth-child(6) {
	transform: rotateY(300deg) translateZ(320px);
}

@keyframes turnRound {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

@keyframes perserve-in {
	from {
		perspective: 1px;
	}

	to {
		perspective: 5000px;
	}
}
